
<div class="bg">

    <form id="signup-form">

        <div class="circle-inner"></div>
        <div class="circle"></div>
        <div class="circle-text">Aulfah</div>
        <div class="input-box">

            <label class="input" for="first-name">First Name:</label><br>
            <input type="text" id="first-name" name="first-name" required><br>

            <label class="input" for="last-name">Last Name:</label><br>
            <input type="text" id="last-name" name="last-name" required><br>

            <label class="input" for="phone-no">Phone:</label><br>
            <input type="tel" id="phone-no" name="phone-no" required><br>

            <label class="input" for="age">Age:</label><br>
            <input type="number" id="age" name="age" min="1" max="120" required><br>

            <label class="input" for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label class="input" for="password">Password:</label><br>
            <input type="password" id="password" name="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br>
            </div>

            <input type="submit" value="Sign up">
    </form>

</div>
