<div class="bg">

    <form id="signup-form">

        <div class="circle-inner"></div>
        <div class="circle"></div>
        <div class="circle-text">Aulfah</div>
        <div class="input-box">

            <label class="input"  for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label class="input" for="password">Password:</label><br>
            <input type="password" id="password" name="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br>
            </div>

            <div class="buttons">
            <div class="passnew">
                <p class="pass">Forget Password?</p>
                <a class="pass" href="./index.html"> Create New Account</a>
            </div>
                <input type="submit" value="Google">
                <input type="submit" value="FaceBook">
            </div>
            <input type="submit" value="Sign in">

    </form>
    </div>
