@model Aulfah.DAL.Model.Category

<h1>Category Details</h1>

<div>
    <h4>Id: @Model.CategoryID</h4>
    <h4>Name: @Model.Name</h4>
    <h4>Image: @Model.CategoryImage</h4>
</div>

<a asp-action="Index">Back to List</a>
