@model List<Aulfah.DAL.Model.Category>
@foreach (var item in Model)
{
    <div class="flex-column m-3">
    <img src="~/Image/@item.CategoryImage" alt="ctegory Image" class="rounded-circle categoryImage" />
    <h5 class="H5Title">@item.Name</h5>
    </div>
}
